@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Comfortaa');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #36A9BD;
  background: url("./img/grand_central_crop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px black;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 5px black;
  font-family: 'Cherry Cream Soda', cursive;
}

h2 {
  color: white;
  font-family: 'Cherry Cream Soda', cursive;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
}

input {
  color: black;
}

.main_links {
  padding-bottom: 30px;
  text-align: center;
  display: inline;
  padding: 0 30px;
}

.form-control {
  height: 100%;
}

a {
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: white;
  text-shadow: 2px 1px black;
}

a:hover {
  color: white;
}

#sign-in {
  margin-left: 37%;
}

#sign-in .btn {
  font-size: 3em;
}

.account_info {
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0 , 0, .5);
  text-shadow: 2px 1px black;
}

.account_info input {
  width: 40%;
  margin: 0 auto;
  font-size: 3em;
  letter-spacing: 0.1em;
}

div .main {
  text-align: left;
  font-size: .6em;
  color: yellow;
  background-color: rgba(0, 0 , 0, .5);
  padding-top: 10px;
  padding-bottom: 10px;
}

div .favorite {
  font-size: .9em;
  background-color: rgba(0, 0 , 0, .5);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: yellow;
}

button {
  margin-left: 10px;
  margin-right: 10px;

}

textarea {
  width: 300px;
  height: 100px;
}

li img {
  float: left;
  width: 100px;
  padding-right: 50px;
}

.movie {
  margin-bottom: 75px;
}
