@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Comfortaa');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #36A9BD;
  background: url("./img/grand_central_crop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px black;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 5px black;
  font-family: 'Cherry Cream Soda', cursive;
}

h2 {
  color: white;
  font-family: 'Cherry Cream Soda', cursive;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
}

.main_links {
  padding-bottom: 30px;
  text-align: center;
}

a {
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: white;
  text-shadow: 2px 1px black;
}

a:hover {
  color: red;
}

.account_info {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: rgba(0, 0 , 0, .5);
  text-shadow: 2px 1px black;
}

div .main {
  text-align: left;
  font-size: .6em;
  color: yellow;
  background-color: rgba(0, 0 , 0, .5);
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  margin-left: 10px;
  margin-right: 10px;

}
