@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Comfortaa');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #36A9BD;
  background: url("./img/grand_central_crop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px black;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 5px black;
  font-family: 'Cherry Cream Soda', cursive;
}

h2 {
  color: white;
  font-family: 'Comfortaa', cursive;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

input {
  color: black;
}

.no-items {
  text-align: center;
  font-size: 3em;
}

.form-control {
  height: 100%;
}

a {
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: white;
}

a:hover,
a:visited {
  text-decoration: none;
}

.event,
.concert {
  margin-bottom: 3em;
}

.concert h3 {
  color: white;
}

.event img {
  padding-top: 1.5em;
}

#nav-buttons a,
#sign-in a {
  color: white;
}

#sign-in,
#nav-buttons {
  margin-left: 42%;
}

#sign-in .btn {
  font-size: 3em;
}

.account_info {
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0 , 0, .5);
  text-shadow: 2px 1px black;
}

.account_info input {
  width: 40%;
  margin: 0 auto;
  font-size: 3em;
  letter-spacing: 0.1em;
}

.main,
.favorite {
  text-align: left;
  color: yellow;
  font-size: 1.2em;
  background-color: rgba(0, 0 , 0, .5);
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

button {
  margin-right: 10px;
}

textarea {
  width: 300px;
  height: 100px;
}

.restbar {
  float: left;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.height {
  height: 100px;
}

.movie {
  float: left;
  width: 150px;
  height: 215px;
  padding-right: 5px;
}

.tv {
  float: left;
  width: 150px;
  height: 100px;
  padding-top: 15px;
  padding-right: 5px;
}

.shift {
  padding-left: 20px;
}

.components .col-md-4 {
  margin-bottom: 2em;
  text-align: center;
}

.favorite-item .rating-field,
.favorite-item .notes-field {
  margin-bottom: 1em;
}

.favorite-item .rating-field {
  width: 25%;
}

.favorite-item .notes-field {
  width: 75%
}

@media (min-width: 1200px) {
  .container {
      width: 95%;
  }
}
